* {
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  max-width: 800px;
  margin-bottom: 100px;
}
.title {
  font-size: 6em;
  margin: 0;
  padding-top: 5rem;
}
.intro {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 1em 0;
}
.app-container {
  background-color: white;
}
.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 10px solid black;
}
.links .link {
  display: inline-block;
}
.links a {
  height: 4.4rem;
  width: 4.4rem;
  position: relative;
}
.links svg,
.links a {
  display: block;
}
.links svg {
  height: 100%;
  width: 100%;
}
.icon:hover {
  border-radius: 100%;
  color: white;
  fill: white;
  background-color: black;
  transition: background-color 0.5s, transform 0.5s ease-out;
}
.content {
  max-width: 800px;
  line-height: 1.75rem;
}
.content-l {
  max-width: 1080px;
}
footer .links {
  margin-top: 0;
  padding: 3rem;
}
footer .links a {
  width: 4rem;
  height: 4rem;
}
@media (max-width: 700px) {
  .app-container {
    margin: 25px auto;
    max-width: 700px;
  }
  .title {
    font-size: 4em;
  }
}
