.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  background: #e5e5e5; }

body {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-size: 2em;
  color: white; }

h1.title {
  float: left;
  margin-top: .75em;
  margin-bottom: 0;
  font-weight: normal; }

h1.title a {
  transition: .25s;
  text-decoration: none;
  color: black; }

h1.title a:hover {
  color: #e5e5e5; }

h2 {
  margin-bottom: 1em; }

h2.subtitle {
  color: black;
  font-size: 1em;
  padding-left: 2em; }

h2, h3, h4 {
  color: white;
  font-family: 'Space Mono', monospace; }

h3 {
  margin-top: 2em;
  margin-bottom: .5em; }

h4 {
  margin: 1em 0; }

p {
  font-size: 1.1em;
  line-height: 1.5em; }

/* ---- GENERAL CONTENT SECTIONS ---- */
.content-section {
  padding-top: 4em;
  padding-bottom: 4em;
  transition: .5s; }

.content-section section.container {
  max-width: 960px;
  margin: 0 auto; }

.content-section:hover section.container {
  background-color: white; }

section {
  clear: both; }

div.container,
section.container {
  margin: 4em auto;
  padding: 2em;
  background-color: white; }

div.container a,
section.container a {
  color: #ffd737;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #ffd737; }

div.container a:hover,
section.container a:hover {
  color: black;
  font-weight: bold; }

div.inner-container {
  float: right;
  width: 50%;
  padding: 1em;
  padding-left: 0;
  display: inline-block; }

div.inner-container p {
  margin-top: 0;
  padding: 0 1em; }

div.item {
  float: left;
  width: 25%;
  padding: 1em 1em 1em 0;
  display: inline-block; }

div.item p {
  font-size: 1em; }

div.item img {
  max-width: 100%;
  border: 3px solid black; }

div.item:hover img {
  border: 3px solid #3869ff; }

footer {
  margin: 0;
  width: 100%;
  padding: 1em;
  padding-right: 2em;
  background-color: white;
  font-size: .5em; }

footer nav.subnav ul.nav li {
  padding-left: 2em; }

footer nav.subnav ul.nav li a:hover {
  box-shadow: none; }

#footer {
  max-width: 960px;
  margin: 0 auto; }

/* ---- NAVIGATION ---- */
#menu-toggle {
  display: none;
  width: 100%;
  padding: 1em;
  margin-top: 2em;
  background-color: #88CEFC;
  text-align: center; }

#menu-toggle:hover {
  background-color: white; }

.nav-wrapper {
  width: 100%;
  height: 100px;
  background-color: white; }

#nav {
  max-width: 960px;
  margin: 0 auto; }

ul.nav li {
  display: inline-block; }

ul.nav li a {
  text-transform: uppercase;
  text-decoration: none; }

#nav ul.nav {
  float: right;
  margin: 0;
  padding: 0; }

#nav ul.nav li {
  height: 100px; }

#nav ul.nav li:hover {
  border-bottom: 5px solid black; }

#nav ul.nav li a {
  text-align: center;
  height: 100px;
  width: 150px;
  display: inline-block;
  padding: 2.25em;
  color: #e5e5e5;
  transition: .5s; }

#nav ul.nav li a:hover {
  color: black; }

/* ---- MAIN CONTENT SECTIONS ---- */
#projects {
  background-color: #3869ff;
  border-right: 5px solid #3869ff;
  border-bottom: 5px solid #3869ff;
  color: #EEFFFC; }

#about {
  background-color: #ff4f30;
  border-right: 5px solid #ff4f30;
  border-bottom: 5px solid #ff4f30;
  color: #EEFFFC; }

#contact {
  background-color: #ffd737;
  border-right: 5px solid #ffd737;
  border-bottom: 5px solid #ffd737;
  color: #EEFFFC; }

#contact:first-child {
  margin-top: 2em; }

#about.active-section,
#projects.active-section,
#contact.active-section {
  /* transition: .5s; */
  background-color: white;
  color: black;
  border-right: 5px solid black;
  border-bottom: 5px solid black; }
  #about.active-section h2, #about.active-section h3, #about.active-section h4,
  #projects.active-section h2,
  #projects.active-section h3,
  #projects.active-section h4,
  #contact.active-section h2,
  #contact.active-section h3,
  #contact.active-section h4 {
    color: black; }
  #about.active-section a,
  #projects.active-section a,
  #contact.active-section a {
    color: black;
    border-bottom-color: black; }
  #about.active-section a:hover,
  #projects.active-section a:hover,
  #contact.active-section a:hover {
    color: #3869ff;
    border-bottom-color: #3869ff; }

#contact h2 {
  width: 100%; }

section.content-section section.container h2 {
  float: left; }
  section.content-section section.container h2 a {
    color: white;
    cursor: pointer;
    border-bottom: none; }
  section.content-section section.container h2 a:hover {
    color: #3869ff; }

.item:hover {
  cursor: pointer; }
  .item:hover p, .item:hover h4 {
    color: #3869ff !important; }

.active-section form.contact-form input {
  box-shadow: inset 0px 0px 0px 1px black; }
.active-section form.contact-form textarea {
  box-shadow: inset 0px 0px 0px 1px black; }

/* ---- SUBNAV MENUS ---- */
nav.subnav {
  float: right; }

nav.subnav button,
.controls button {
  padding: 1em;
  margin: 1px;
  color: black;
  border: 0;
  padding: 1em;
  font-size: .9em;
  font-family: 'Quicksand';
  background: none;
  text-transform: uppercase; }

nav.subnav button:hover,
.controls button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: inset 0px 0px 0px 1px black; }

nav.subnav button.active {
  background-color: black;
  color: white; }

#contact nav.subnav ul.nav li a {
  padding: .25em; }

#contact nav.subnav ul.nav li a:hover {
  background: none;
  box-shadow: none; }

/* ---- TABS ---- */
.tab-content {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* --- FORMS ---- */
form.contact-form textarea,
form.contact-form input {
  width: 100%;
  margin: .5em 0;
  padding: 1em;
  border: none;
  font-size: .75em; }

form.contact-form textarea {
  resize: none;
  height: 100px; }

form.contact-form button {
  padding: 1em;
  margin-top: .75em;
  border: none;
  color: #EEFFFC;
  font-size: 1em;
  transition: .5s;
  background-color: #3869ff;
  border: 1px solid #3869ff; }

form.contact-form button:hover {
  color: black;
  background-color: white; }

/* --- GALLERY --- */
.gallery-view {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none; }

div.card-view {
  position: fixed;
  top: 5%;
  left: 50%;
  margin-left: -250px;
  z-index: 3;
  width: 500px; }

div.card .card-view img {
  max-width: 100%; }

.close-view {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2em;
  padding: 1em;
  cursor: pointer; }

.controls {
  position: fixed;
  width: 300px;
  bottom: 4em;
  left: 50%;
  margin-left: -150px; }

.controls button {
  width: 125px;
  margin: 0; }

.controls button:first-child {
  margin-right: 20px; }

.gallery {
  clear: both;
  margin-top: 1.25em; }

.gallery:first-child {
  margin-top: 0; }

.card {
  width: 20%;
  height: 225px;
  margin: 0;
  padding: 1em;
  z-index: 3;
  float: left;
  display: inline-block;
  cursor: pointer; }

.card img {
  max-width: 100%; }

.overlay {
  display: none; }

/* --- ANIMATIONS ---- */
/* .bounce:hover {
    position: relative;
    margin: 0 auto;
    bottom:0;
    -webkit-animation:bounce .25s 3;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     { bottom:0; }
}*/
/* ---- HELPERS ---- */
.date {
  color: #e5e5e5; }

.ico {
  width: 30px; }

.blue-hover:hover {
  color: #002eff; }

.red-hover:hover {
  color: #ff2d2d; }

.yellow-hover:hover {
  color: #ffee00; }

.clearfix {
  clear: both; }

.to-top {
  width: 960px;
  margin: 0 auto;
  padding-top: 2em;
  padding-right: 1em;
  height: 100px;
  text-align: right;
  display: none; }

.to-top img {
  width: 30px; }

/* ---- MOBILE ---- */
@media (max-width: 666px) {
  h1.title {
    float: none;
    margin-left: .75em;
    margin: 0;
    padding-top: .75em; }

  #hero p {
    font-size: 1.5em; }

  #main-content section:last-child {
    margin-bottom: 0; }

  #nav {
    margin-bottom: 0; }

  #nav ul.nav {
    margin: 0;
    display: none;
    float: none;
    text-align: center;
    background-color: #ff4f30; }

  #nav ul.nav li {
    margin: 0;
    display: block;
    background-color: #3869ff; }

  #nav ul.nav li a:hover {
    background: none; }

  section.container {
    max-width: 100%;
    margin: 0; }
    section.container h2 {
      margin: 3px; }

  div.inner-container {
    float: none;
    width: 100%; }

  div.item {
    width: 50%; } }
@media (max-width: 965px) {
  #hero p {
    font-size: 2em; }

  h1.title {
    margin-left: .75em; }

  ul.nav {
    margin-right: 1.6em; }

  .content-section {
    padding: 0; }

  #about.active-section,
  #projects.active-section,
  #contact.active-section {
    border-bottom: 0;
    border-right: 0;
    border-left: 5px solid black; }

  section.container {
    max-width: 100%;
    margin: 1em; }

  section.nav-wrapper {
    margin: 0; } }

/*# sourceMappingURL=styles.css.map */
