$primary-text: #EEFFFC;
$primary-heading: white;
$bright-blue: #ff4f30;
$middle-blue: #3869ff;
$dark-blue: #ffd737;
$secondary-link: #3CFFA2;

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    background: #e5e5e5;
    // background: -moz-linear-gradient(top, #2bf7ff 0%, #0099ff 100%);
    // background: -webkit-linear-gradient(top, #2bf7ff 0%,#0099ff 100%);
    // background: linear-gradient(to bottom, #2bf7ff 0%,#0099ff 100%);
    // background-size: cover;
    background-repeat:no-repeat;
}
body {
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    color: $primary-heading;
}
h1.title {
    //float: left;
    margin: 0;
    font-weight: normal;
    font-size: 2em;
    transition: .5s;
}
h1.title a {
    transition: .5s;
    color: #e5e5e5;
    text-decoration: none;
}
h1.title a:hover {
    opacity: 1;
    color: black;
}
h2 {
    margin-bottom: 1em;
}
h2.subtitle {
    color: black;
    font-size: 1em;
    padding-left: 2em;
}
h2, h3, h4 {
    color: $primary-heading;
    font-family: 'Space Mono', monospace;
}
h3 {
    margin-top: 2em;
    margin-bottom: .5em;
}
h4 {
    margin: 1em 0;
}
p {
    font-size: 1.3em;
    line-height: 1.5em;
}

#main-content {
    // visibility: hidden;
    max-width: 960px;
    margin: 0 auto;
}
#main-content section:last-child {
    margin-bottom: 6em;
}
#menu-toggle {
    display: none;
    width: 100%;
    padding: 1em;
    margin-top: 2em;
    background-color: #88CEFC;
    text-align: center;
}
#menu-toggle:hover {
    background-color: white;
}
.nav-wrapper {
    width: 100%;
    height: 125px;
    background-color: white;
    margin-bottom: 2em;
}
#nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}
nav {
    // float: left;
}
ul.nav {
    // float: right;
}
ul.nav li {
    display: inline-block;
    padding: .5em;
}
ul.nav li a {
    text-transform: uppercase;
    text-decoration: none;
}
#nav ul.nav li a {
    transition: .5s;
    color: black;
    padding: 1em;
}
#nav ul.nav li a:hover {
    /* background-color: white; */
    color: #e5e5e5;
}
#profile {
    margin-left: 2em;
    float: right;
    display: inline-block;
}
#profile img {
    height: 150px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#hero div.container {
    height: 100%;
    padding: 0;
    margin-top: 10em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    color: $primary-text;
    background: none;
    font-family: 'Space Mono', monospace;
}
#hero p {
    color: $primary-heading;
    font-size: 3em;
}
#hero p:last-child {
    text-align: center;
}
#hero .btn-hero {
    width: 100%;
    border: none;
    padding: 1em;
    font-size: 1.25em;
    text-align: center;
    background: none;
    transition: .5s;
}
#hero .btn-hero:hover {
    color: white;
}
#projects {
    background-color: $middle-blue;
    border-right: 5px solid $middle-blue;
    border-bottom: 5px solid $middle-blue;
    color: $primary-text;

    h2 {
        float: left;
    }
}
#about {
    background-color: $bright-blue;
    border-right: 5px solid $bright-blue;
    border-bottom: 5px solid $bright-blue;
    color: $primary-text;
}
#contact {
    background-color: $dark-blue;
    border-right: 5px solid $dark-blue;
    border-bottom: 5px solid $dark-blue;
    color: $primary-text;
}
#projects:hover,
#about:hover,
#contact:hover {
    /* transition: .5s; */
    background-color: white;
    color: black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;

    h2, h3, h4 {
        color: black;
    }
}
#contact:hover {
    form.contact-form input {
        box-shadow:inset 0px 0px 0px 1px black;
    }
    form.contact-form textarea {
        box-shadow:inset 0px 0px 0px 1px black;
    }
}

nav.subnav {
    float: right;
}
nav.subnav ul.nav li a {
    padding: 1em;
    margin: 1px;
    color: black;
    border: 0;
}
nav.subnav ul.nav li a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    box-shadow:inset 0px 0px 0px 1px black;
}
#contact nav.subnav ul.nav li a {
    padding: .25em;
}
#contact nav.subnav ul.nav li a:hover {
    background: none;
    box-shadow: none;
}
section {
    clear: both;
}
div.container,
section.container {
    margin: 4em auto;
    padding: 2em;
    background-color: white;
}
div.container a,
section.container a {
    color: $dark-blue;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid black;
    /* transition: .5s; */
}
div.container a:hover,
section.container a:hover {
    color: black;
    font-weight: bold;
}
div.inner-container {
    float: right;
    width: 50%;
    padding: 1em;
    padding-left: 0;
    display: inline-block;
}
div.inner-container p {
    margin-top: 0;
    padding: 0 1em;
}
#apps,
#sites,
#art {
    transition: .5s;
    display: none;
}
div.item {
    float: left;
    width: 25%;
    padding: 1em;
    display: inline-block;
}
div.item p {
    font-size: 1em;
}

form.contact-form textarea,
form.contact-form input {
    width: 100%;
    margin: .5em 0;
    padding: 1em;
    border: none;
    font-size: .75em;
}
form.contact-form textarea {
    resize: none;
    height: 100px;
}
form.contact-form button {
    padding: 1em;
    margin-top: .75em;
    border: none;
    color: $primary-text;
    font-size: 1em;
    transition: .5s;
    background-color: $middle-blue;
    border: 1px solid $middle-blue;
}
form.contact-form button:hover {
    color: black;
    background-color: white;
}

section.container.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin: 0;
    width: 100%;
    padding: 1em;
    padding-right: 2em;
    background-color: white;
    font-size: .75em;
}
footer nav.subnav ul.nav li a:hover {
    box-shadow: none;
}
#footer {
    width: 960px;
    margin: 0 auto;
}

/* --- animations ---- */
.bounce:hover {
    position: relative;
    margin: 0 auto;
    bottom:0;
    -webkit-animation:bounce .25s 3;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     { bottom:0; }
}

.ico {
    width: 30px;
}
.blue-hover:hover {
    color: #002eff;
}
.red-hover:hover {
    color: #ff2d2d;
}
.yellow-hover:hover {
    color: #ffee00;
}
.clearfix {
    clear: both;
}
.to-top {
    margin-right: 1em;
    height: 100px;
    float: right;
}
.to-top img {
    width: 30px;
}

@media (max-width: 959px) {
    #hero p {
        font-size: 2em;
    }
    h1.title {
        float: none;
        margin-left: .75em;
    }
    ul.nav {
        margin-right: 1.6em;
    }
    section.container {
        max-width: 100%;
        margin: 2em;
    }
}
@media (max-width: 500px) {
    h1.title {
        float: none;
        margin-left: .75em;
    }
    #hero p {
        font-size: 1.5em;
    }
    #main-content section:last-child {
        margin-bottom: 0;
    }
    #menu-toggle {
        display: block;
    }
    #nav {
        margin-bottom: 0;
    }
    #nav ul.nav {
        margin: 0;
        display: none;
        float: none;
        text-align: center;
        background-color: $bright-blue;
    }
    #nav ul.nav li {
        margin: 0;
        display: block;
        background-color: $middle-blue;
    }
    #nav ul.nav li a:hover {
        background: none;
    }
    section.container {
        max-width: 100%;
        margin: 0;
    }
    div.inner-container {
        float: none;
        width: 100%;
    }
}