* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  background: #e5e5e5;
  background-repeat: no-repeat; }

body {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif; }

h1 {
  color: white; }

h1.title {
  float: left;
  margin-top: .75em;
  font-weight: normal;
  font-size: 2em; }

h1.title a {
  transition: .5s;
  text-decoration: none;
  color: black; }

h1.title a:hover {
  color: #e5e5e5; }

h2 {
  margin-bottom: 1em; }

h2.subtitle {
  color: black;
  font-size: 1em;
  padding-left: 2em; }

h2, h3, h4 {
  color: white;
  font-family: 'Space Mono', monospace; }

h3 {
  margin-top: 2em;
  margin-bottom: .5em; }

h4 {
  margin: 1em 0; }

p {
  font-size: 1.3em;
  line-height: 1.5em; }

#main-content {
  margin-top: 6em; }

.content-section section.container {
  max-width: 960px;
  margin: 0 auto; }

.content-section section.container:last-child {
  margin-bottom: 6em; }

#menu-toggle {
  display: none;
  width: 100%;
  padding: 1em;
  margin-top: 2em;
  background-color: #88CEFC;
  text-align: center; }

#menu-toggle:hover {
  background-color: white; }

.nav-wrapper {
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 2em; }

#nav {
  max-width: 960px;
  margin: 0 auto; }

ul.nav li {
  display: inline-block; }

ul.nav li a {
  text-transform: uppercase;
  text-decoration: none; }

#nav ul.nav {
  margin: 0;
  padding: 0;
  height: 100px; }

#nav ul.nav li {
  height: 100px; }

#nav ul.nav li:hover {
  border-bottom: 5px solid black; }

#nav ul.nav li a {
  text-align: center;
  height: 100px;
  width: 150px;
  display: inline-block;
  padding: 2.25em;
  color: #e5e5e5;
  transition: .5s; }

#nav ul.nav li a:hover {
  color: black; }

#main-menu {
  float: right; }

#profile {
  margin-left: 2em;
  float: right;
  display: inline-block; }

#profile img {
  height: 150px;
  border-bottom: 5px solid black;
  border-right: 5px solid black; }

#projects {
  background-color: #3869ff;
  border-right: 5px solid #3869ff;
  border-bottom: 5px solid #3869ff;
  color: #EEFFFC; }
  #projects h2 {
    float: left; }

#about {
  background-color: #ff4f30;
  border-right: 5px solid #ff4f30;
  border-bottom: 5px solid #ff4f30;
  color: #EEFFFC; }
  #about h2 {
    float: left; }

#contact {
  background-color: #ffd737;
  border-right: 5px solid #ffd737;
  border-bottom: 5px solid #ffd737;
  color: #EEFFFC; }

#about.active-section,
#projects.active-section,
#contact.active-section {
  /* transition: .5s; */
  background-color: white;
  color: black;
  border-right: 5px solid black;
  border-bottom: 5px solid black; }
  #about.active-section h2, #about.active-section h3, #about.active-section h4,
  #projects.active-section h2,
  #projects.active-section h3,
  #projects.active-section h4,
  #contact.active-section h2,
  #contact.active-section h3,
  #contact.active-section h4 {
    color: black; }
  #about.active-section a,
  #projects.active-section a,
  #contact.active-section a {
    color: black; }
  #about.active-section a:hover,
  #projects.active-section a:hover,
  #contact.active-section a:hover {
    color: #3869ff;
    border-bottom-color: #3869ff; }

.active-section form.contact-form input {
  box-shadow: inset 0px 0px 0px 1px black; }
.active-section form.contact-form textarea {
  box-shadow: inset 0px 0px 0px 1px black; }

nav.subnav {
  float: right; }

nav.subnav button {
  padding: 1em;
  margin: 1px;
  color: black;
  border: 0;
  padding: 1em;
  font-size: .9em;
  font-family: 'Quicksand';
  background: none;
  text-transform: uppercase; }

nav.subnav button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: inset 0px 0px 0px 1px black; }

nav.subnav button.active {
  background-color: black;
  color: white; }

#contact nav.subnav ul.nav li a {
  padding: .25em; }

#contact nav.subnav ul.nav li a:hover {
  background: none;
  box-shadow: none; }

section {
  clear: both; }

div.container,
section.container {
  margin: 4em auto;
  padding: 2em;
  background-color: white; }

div.container a,
section.container a {
  color: #ffd737;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid black;
  /* transition: .5s; */ }

div.container a:hover,
section.container a:hover {
  color: black;
  font-weight: bold; }

div.inner-container {
  float: right;
  width: 50%;
  padding: 1em;
  padding-left: 0;
  display: inline-block; }

div.inner-container p {
  margin-top: 0;
  padding: 0 1em; }

.tab-content {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
div.item {
  float: left;
  width: 25%;
  padding: 1em;
  display: inline-block; }

div.item p {
  font-size: 1em; }

form.contact-form textarea,
form.contact-form input {
  width: 100%;
  margin: .5em 0;
  padding: 1em;
  border: none;
  font-size: .75em; }

form.contact-form textarea {
  resize: none;
  height: 100px; }

form.contact-form button {
  padding: 1em;
  margin-top: .75em;
  border: none;
  color: #EEFFFC;
  font-size: 1em;
  transition: .5s;
  background-color: #3869ff;
  border: 1px solid #3869ff; }

form.contact-form button:hover {
  color: black;
  background-color: white; }

section.container.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

footer {
  margin: 0;
  width: 100%;
  padding: 1em;
  padding-right: 2em;
  background-color: white;
  font-size: .5em; }

footer nav.subnav ul.nav li a:hover {
  box-shadow: none; }

#footer {
  width: 960px;
  margin: 0 auto; }

/* --- animations ---- */
.bounce:hover {
  position: relative;
  margin: 0 auto;
  bottom: 0;
  -webkit-animation: bounce .25s 3; }

@-webkit-keyframes bounce {
  0% {
    bottom: 5px; }
  25%, 75% {
    bottom: 15px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0; } }
.date {
  color: #e5e5e5; }

.ico {
  width: 30px; }

.blue-hover:hover {
  color: #002eff; }

.red-hover:hover {
  color: #ff2d2d; }

.yellow-hover:hover {
  color: #ffee00; }

.clearfix {
  clear: both; }

.to-top {
  width: 960px;
  margin: 0 auto;
  padding-top: 2em;
  padding-right: 1em;
  height: 100px;
  text-align: right; }

.to-top img {
  width: 30px; }

@media (max-width: 959px) {
  #hero p {
    font-size: 2em; }

  h1.title {
    float: none;
    margin-left: .75em; }

  ul.nav {
    margin-right: 1.6em; }

  section.container {
    max-width: 100%;
    margin: 2em; } }
@media (max-width: 500px) {
  h1.title {
    float: none;
    margin-left: .75em; }

  #hero p {
    font-size: 1.5em; }

  #main-content section:last-child {
    margin-bottom: 0; }

  #menu-toggle {
    display: block; }

  #nav {
    margin-bottom: 0; }

  #nav ul.nav {
    margin: 0;
    display: none;
    float: none;
    text-align: center;
    background-color: #ff4f30; }

  #nav ul.nav li {
    margin: 0;
    display: block;
    background-color: #3869ff; }

  #nav ul.nav li a:hover {
    background: none; }

  section.container {
    max-width: 100%;
    margin: 0; }

  div.inner-container {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
